$ball-clr: hsl(203, 80%, 43%);
$walls-clr: hsl(203, 27%, 65%);
$num-clr: hsl(210, 20%, 15%);
$aim-clr: hsl(210, 30%, 40%);
$bg-clr: hsl(203, 13%, 9%);

body, :root, main {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $bg-clr;
  font-size: min(.8vh, 1.2vw);
}

h1 {
  text-align: center;
  color: $walls-clr ;
  font-size: 4em;
}

#walls {
  display: block;
  position: fixed;
  width: 60em;
  height: 90em;
  top: calc(50vh - 45em);
  left: calc(50vw - 30em);
  border: 1em solid $walls-clr ;
  border-bottom: none;
  box-sizing: border-box;
}

#ball {
  display: block;
  position: absolute;
  background-color: $ball-clr;
  border-radius: 15%;
  aspect-ratio: 1;
  height: 5em;
  transform: translate(-50%, -50%);
  transition: 500ms linear;
  transition-property: top, left;
}

#number {
  display: grid;
  place-items: center;
  position: absolute;
  font-size: 75em;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  color: $num-clr;
}

#aim {
  display: block;
  position: absolute;
  height: 0;
  width: 25em;
  border-top: 1em dotted $aim-clr;
  transform-origin: .5em;
  top: 2em;
  left: 2em;
}